<!DOCTYPE html>
<html lang="en" ng-app="s7.app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../angular.js"></script>
</head>
<body>
<div ng-controller="MainController">
    <div>
        姓名: <input type="text" ng-model="name">
        电话: <input type="text" ng-model="phone">
        <button ng-click="add()">邀请</button>
    </div>
    <button ng-click="queryState('全部')">全部</button>
    <button ng-click="queryState('邀请中')">邀请中</button>
    <button ng-click="queryState('已接受')">已接受</button>
    <button ng-click="queryState('已拒绝')">已拒绝</button>
    <div>

    </div>
    <div>
        <table>
            <tr>
                <th>姓名</th>
                <th>电话</th>
                <th>邀请状态</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="guest in list">
                <td>{{guest.name}}</td>
                <td>{{guest.phone}}</td>
                <td>{{guest.state}}</td>
                <td>
                    <button ng-if="guest.state == '邀请中'" ng-click="guest.accept()">接受</button>
                    <button ng-if="guest.state == '邀请中'" ng-click="guest.refuse()">拒绝</button>
                    <button ng-click="remove(guest)">删除</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<script>
    var app = angular.module('s7.app', []);
    app.factory('modelService', function () {
        // 存储了全部宾客信息的数组
        var data = [];
        // 宾客的构造函数
        function Guest(name, phone) {
            this.name = name;
            this.phone = phone;
            this.state = '邀请中'
        };
        Guest.prototype.accept = function () {
            this.state = '已接受'
        };
        Guest.prototype.refuse = function () {
            this.state = '已拒绝'
        };

        return {
            // 0. 宾客的工造函数
            Guest: Guest,
            //1. 向数组中新增宾客的操作。
            add: function (name, phone) {
                data.push(new Guest(name, phone))
            },
            //2. 从数组中移除宾客的操作。
            remove: function (guest) {
                var index = data.indexOf(guest);
                data.splice(index, 1);
            },
            //3. 更新宾客状态的操作：放在宾客对象的原型上了
            //4. 根据状态获取筛选过的宾客列表的操作。
            getGuests: function (state) {
                if (state == '全部') {
                    return data;
                } else {
                    var newArray = data.filter(function (guest) {
                        return guest.state == state;
                    });
                    return newArray;
                }
            }
        }
    });

    app.controller('MainController', function ($scope, modelService) {
        $scope.list = modelService.getGuests('全部'); // 获取宾客列表（实际上获取到的是空的）
        $scope.name = ''; // 绑定姓名输入框
        $scope.phone = ''; // 绑定手机号输入框
        var mState = '全部';
        $scope.add = function () {
            modelService.add($scope.name, $scope.phone);
            // 因为如果做过筛选，得到的是新的数组，而我们添加或者删除的操作，操作的是全局的那个数组
            // 我们在做过添加删除操作之后，得重新获得一次新的数组
            $scope.list = modelService.getGuests(mState);
        };
        $scope.remove = function (guest) {
            modelService.remove(guest);
            // 因为如果做过筛选，得到的是新的数组，而我们添加或者删除的操作，操作的是全局的那个数组
            // 我们在做过添加删除操作之后，得重新获得一次新的数组
            $scope.list = modelService.getGuests(mState);
        };
        $scope.queryState = function (state) {
            mState = state;
            $scope.list = modelService.getGuests(state);
        }
    });


</script>
</body>
</html>